@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Vazir-Regular-FD.eot");
  src: url("../fonts/Vazir-Regular-FD.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir-Regular-FD.woff2") format("woff2"),
    url("../fonts/Vazir-Regular-FD.woff") format("woff"),
    url("../fonts/Vazir-Regular-FD.ttf") format("truetype");
}

* {
    font-family: Vazir;
}

body::before {
  display: block;
  content: "";
  height: 60px;
}

.bg-primary {
  background-color: #6244c5 !important;
}

.bg-warning {
  background-color: #ffc448 !important;
}

.bg-dark {
  background-color: #12141d !important;
}

.btn-warning {
  background-color: #ffc448 !important;
}

.btn-dark {
  background-color: #12141d !important;
}

.btn-primary {
  background-color: #6244c5 !important;
  border: #6244c5;
}

.btn-primary:hover {
  background-color: #12141d !important;
}

a.text-light:hover {
  color: #ffc448 !important;
}
